const config = {
  "owner_id": "",
  "token": "",
  intents: ["GUILDS","GUILD_MESSAGES","DIRECT_MESSAGES"],
  "defaultSettings" : {
    "prefix": "-",
    "systemNotice": "true", // This gives a notice when a user tries to run a command that they do not have permission to use.
    "welcomeChannel": "welcome",
    "welcomeMessage": "Say hello to {{user}}, everyone! We all need a warm welcome sometimes :D",
    "welcomeEnabled": "false"
  },

  // PERMISSION LEVEL DEFINITIONS.

  permLevels: [
    { level: 0,
      name: "User",
      check: () => true
    },
    { level: 4,
      name: "Server Owner",
      check: (message) => message.channel.type === "text" ? (message.guild.owner_id === message.author.id ? true : false) : false
    },
    { level: 10,
      name: "Bot Owner",
      check: (message) => message.client.config.owner_id === message.author.id
    }
  ]
};

module.exports = config;
